/* Author: mk303, jm114 */
$primary-blue: #00B6FF;
$text-color: #7E7E7E;
$text-color-headline: #C8C8C8;
$text-color-white: #fff;
$medium-grey: #504F4F;
$secondary-green: #00ce82;
$secondary-orange: #FFA500;
$secondary-red: #FF004E;

